@import './common/style/base.less';
@import './common/style/layout.less';
@import './common/style/scene.less';
@import './common/style/element.less';
@import './common/style/inspector.less';

html,
body {
    height: 100%;
}
.origin,
.inner {
    width: 100px;
    height: 100px;
}

.origin {
    background: #000;
}

.inner {
    transform: scale(2);
}

.inner1 {
    transform-origin: center;
    background: #555;
    transform: rotate(40deg);
}

.inner2 {
    transform-origin: left top;
    background: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
